<div *ngIf="pokemon" class="mb-4 shadow-lg bg-white rounded relative w-80 border-8 border-yellow-600">
    <section class="p-6 border-b-2 shadow-sm">
        <span class="text-2xl capitalize">#{{ pokemon.id }} {{ pokemon.name }}</span>
        <app-catch-pokemon-button [pokemonName]="pokemon.name" style="z-index: 4;"></app-catch-pokemon-button>
    </section>
    <section class="p-4">
        <img [src]="pokemon.img" [alt]="pokemon.img" style="z-index: -1;"
            class="block w-72 p-4 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 ..." />
    </section>
    <section class="p-4">

        <!-- <span class="block text-xl capitalize">Attributes/stats</span>
        <ul>
            <li>Attack</li>
            <li>Defence</li>
            <li>Power </li>
        </ul> -->
    </section>
</div>