<nav class="bg-yellow-500 flex justify-between items-center p-4 sticky top-0 w-full z-50">
    <!-- logo -->
    <span class="font-bold"><img src="../../../assets/pokemon_logo_nav.png" alt="pokemon-logo" class="w-20"></span>
    <ng-container *ngIf="trainer !== undefined">
        <ul class="flex">
            <li class="px-4">
                <a routerLink="/trainer"><span
                        class="material-icons-outlined transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 ...">
                        backpack
                    </span></a>
            </li>
            <li class=" px-4">
                <a routerLink="/catalogue"><span
                        class="material-icons-outlined transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 ...">
                        book
                    </span></a>
            </li>
            <li class="px-4">
                <a (click)="handleLogout()" class="cursor-pointer"><span class="material-icons-outlined transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 ...">
                        logout
                    </span></a>
            </li>
        </ul>
    </ng-container>

</nav>