<form #landingForm="ngForm" (ngSubmit)="loginSubmit(landingForm)">
    <fieldset class="mb-3">
        <label for="username" class="block">Username</label>
        <input type="text" ngModel #username="ngModel" name="username" id="username"
            class="border border-slate-300 p-2 rounded w-full" placeholder="Ash">
    </fieldset>

    <button type="submit" class="bg-yellow-500 p-2 rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-yellow-600 duration-300 ...">Login</button>
</form>