/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark-blue {
    background-color: rgb(42, 117, 187);
    font-family: 'Love Ya Like A Sister', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Sanchez', serif;
}

.material-icons.md-dark { color: rgb(238,21,21)}
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
